module.exports = {
  '食費': {
    id: '11',
    childs: {
      '食費': '105',
      '食料品': '41',
      '外食': '42',
      '朝ご飯': '91',
      '昼ご飯': '92',
      '夜ご飯': '93',
      'カフェ': '43',
      'その他食費': '83',
    },
  },
  '日用品': {
    id: '10',
    childs: {
      '日用品': '36',
      '子育て用品': '46',
      'ドラッグストア': '37',
      'おこづかい': '38',
      'ペット用品': '40',
      'タバコ': '95',
      'その他日用品': '82',
    },
  },
  '趣味・娯楽': {
    id: '13',
    childs: {
      'アウトドア': '49',
      'ゴルフ': '110',
      'スポーツ': '50',
      '映画・音楽・ゲーム': '51',
      '本': '52',
      '旅行': '53',
      '秘密の趣味': '54',
      'その他趣味・娯楽': '85',
    },
  },
  '交際費': {
    id: '21',
    childs: {
      '交際費': '109',
      '飲み会': '44',
      'プレゼント代': '65',
      '冠婚葬祭': '64',
      'その他交際費': '100',
    },
  },
  '交通費': {
    id: '20',
    childs: {
      '交通費': '106',
      '電車': '96',
      'バス': '97',
      'タクシー': '99',
      '飛行機': '98',
      'その他交通費': '39',
    },
  },
  '衣服・美容': {
    id: '14',
    childs: {
      '衣服': '55',
      'クリーニング': '56',
      '美容院・理髪': '57',
      '化粧品': '58',
      'アクセサリー': '59',
      'その他衣服・美容': '86',
    },
  },
  '健康・医療': {
    id: '15',
    childs: {
      'フィットネス': '60',
      'ボディケア': '61',
      '医療費': '62',
      '薬': '63',
      'その他健康・医療': '87',
    },
  },
  '自動車': {
    id: '7',
    childs: {
      '自動車ローン': '24',
      '道路料金': '75',
      'ガソリン': '25',
      '駐車場': '26',
      '車両': '27',
      '車検・整備': '28',
      '自動車保険': '101',
      'その他自動車': '81',
    },
  },
  '教養・教育': {
    id: '12',
    childs: {
      '書籍': '20',
      '新聞・雑誌': '21',
      '習いごと': '45',
      '学費': '47',
      '塾': '48',
      'その他教養・教育': '84',
    },
  },
  '特別な支出': {
    id: '16',
    childs: {
      '家具・家電': '67',
      '住宅・リフォーム': '66',
      'その他特別な支出': '88',
    },
  },
  '現金・カード': {
    id: '3',
    childs: {
      'ATM引き出し': '8',
      'カード引き落とし': '9',
      '電子マネー': '76',
      '使途不明金': '103',
      'その他現金・カード': '77',
    },
  },
  '水道・光熱費': {
    id: '5',
    childs: {
      '光熱費': '108',
      '電気代': '14',
      'ガス・灯油代': '15',
      '水道代': '16',
      'その他水道・光熱費': '79',
    },
  },
  '通信費': {
    id: '6',
    childs: {
      '携帯電話': '17',
      '固定電話': '19',
      'インターネット': '18',
      '放送視聴料': '22',
      '情報サービス': '23',
      '宅配便・運送': '102',
      'その他通信費': '80',
    },
  },
  '住宅': {
    id: '4',
    childs: {
      '住宅': '107',
      '家賃・地代': '10',
      'ローン返済': '11',
      '管理費・積立金': '12',
      '地震・火災保険': '13',
      'その他住宅': '78',
    },
  },
  '税・社会保障': {
    id: '9',
    childs: {
      '所得税・住民税': '32',
      '年金保険料': '33',
      '健康保険': '34',
      'その他税・社会保障': '35',
    },
  },
  '保険': {
    id: '8',
    childs: {
      '生命保険': '29',
      '医療保険': '30',
      'その他保険': '31',
    },
  },
  'その他': {
    id: '18',
    childs: {
      '仕送り': '69',
      '事業経費': '70',
      '事業原価': '71',
      '事業投資': '72',
      '寄付金': '94',
      '雑費': '68',
    },
  },
  '未分類': {
    id: '0',
    childs: {
      '未分類': '0',
    },
  },
};
